@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
--bj-color:#0A2647;
--primary-color:#144272;
 --secundary-color:#2C74B3;
 --font:"Nunito Sans";
}